



.container{

  
  width:100%;

 
}


.logo{
  width: 10%;
 
}



.font1{
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  font-weight: extra-bold;
  font-variant: normal;
  color: #3e5fa2 ;
  position: fixed;
}
.font2{
  font-family: 'Vollkorn', serif; 
  font-size: 40px;
  font-weight: extra-bold;
  font-variant: normal;
  color:#3e5fa2;
}
.pontinhos{
  width: 70%;
  margin-left: auto;
    margin-right: auto;
    

}


.gradiente{
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#3e5fa2), to(#d4c050)) no-repeat;
  
    background: -moz-linear-gradient(left, #3e5fa2, #d4c050);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#3e5fa2', EndColorStr='#d4c050');           
    padding: 0 0;

    margin: 0 0;
  }
.parallelogram { 
  width: 100px; 
  height: 50px; 
  -webkit-transform: skew(20deg); 
  -moz-transform: skew(20deg); 
  -o-transform: skew(20deg); 
  background: -moz-linear-gradient(left, #d4c050, #3e5fa2);
}


.cena1{
  width:100%;
}
.cena2{
  width: 100%;

}