



.App-header {
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(64, 61, 221);
}



.logo{
  width: 5%;
  margin-left: auto;
    margin-right: auto;
}
.cena1{
  width: 100%;
  margin-left: auto;
    margin-right: auto;
}
.cena2{
  width: 100%;
  margin-left: auto;
    margin-right: auto;
}

.h1{
  font-family: "Times New Roman", Times, serif; 
  font-size: 20px;
  font-weight: bold;
  font-variant: normal;
  color: #61dafb ;
}
.h2{
  font-family: "Times New Roman", Times, serif; 
  font-size: 12px;
  font-weight: bold;
  font-variant: normal;
  color: #1b05df ;
}
.pontinhos{
  width: 70%;
  margin-left: auto;
    margin-right: auto;
    

}
.cenadiv {
  width:100%;
  flex-direction: row;
}
.texto1{
  width:50%;
}